################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/csharp-server/.vs/csharp-server
/csharp-server/bin/Debug/net8.0
/csharp-server/obj
